{
  "extends": "segment/browser",

  "rules": {
    "global-strict": 0,
    "max-len": 0,
    "strict": 0,
    "consistent-return": 1,
    "no-sequences": 0
  },

  "globals": {
    "exports": true,
    "module": true,
    "require": true
  }
}
